body {
font-family: Verdana;
}
#page-title {
font-size: 1.5em;
color: #191919;
text-decoration: underline;
}
#page-para {
font-weight: 600;
font-size: 1.1;
}
a {
  color: coral;
  text-decoration: none;
}
a:hover {
  color: gold;
  text-decoration: underline;
}
