   #player-list-border-radius {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    border: 1px hidden;
    background-color: #1e252b;
    cursor: default;
    color: #fff;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
    #space-small {
        margin-bottom: 9px;
    }
    #space-big {
        margin-bottom: 14px;
    }
    #muted-text {
        color: #b7b7b7;
        font-size: 17px;
    }
.player-count {
  background-color: #332312;
  color: white;
  text-align: center;
}
